@import url('https://font.googleapis.com/css2?family=PT+Sans&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.intro-image { 
    background-attachment: fixed;
    background-image: url('../img/image1.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a { 
    background-color: #6e94ee66;
    border: 2px solid #6e94eeda;
    color: #d9c7ef;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover { 
    transform: scale(1.2);
}

.intro-text { 
    background-color: #2216d5;
    color: #a491ca;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 { 
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/image2.jpeg');
    background-size: cover;
    background-position: bottom; 
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a { 
    background-color: #140965ac;
    border: 2px solid #6a94ed;
    color: #d9c7ef;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover { 
    transform: scale(1.2);
}

.quality-text { 
    background-color: #0c0738;
    color: #ebdaf9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 { 
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image { 
    background-attachment: fixed;
    background-image: url('../img/image3.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a { 
    background-color: #2111cba0;
    border: 2px solid #738bf8;
    color: #e9e2f9;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover { 
    transform: scale(1.2);
}

.origin-text { 
    background-color: #0b0439;
    color: #e0d4fc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text__textbox h3 { 
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer { 
    height: 250px;
    background-color: #04040a;
    color: #bd55a4;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li { 
    display: inline-block;
    margin: 1rem;
}


.footer ul li a { 
    color: #bd55a4;
    text-decoration: none;
}

.footer ul li:hover { 
    /*color: #ff87e3;*/
    transform: scale(1.3);
}

